// Article styling
// ===============

.article {

    .article-inner {
    }

    .article-title {
        text-align: left;
    }

    .article-title-inner {
        padding:20px 20px 0;
    }

    .article-body {
    }

    .article-body-inner {
        padding:20px 20px 40px;
    }
}