// Block styling
// =============

.block {

    .block-inner {
        max-width: @device-width-large;
        padding: 20px 0;
        margin: auto;

        @media all and (max-width: (@device-width-large + 20px)) {
            max-width: @device-width-medium;
        }

        @media all and (max-width: (@device-width-medium + 20px)) {
            max-width: 700px;
            padding:0px 40px 40px;
        }

        @media all and (max-width: (@device-width-small + 20px)) {
            padding:0px 20px 40px;
        }
    }

    .block-title {
        text-align:left;
    }

    .block-title-inner {
        padding: 20px 0;
        color: @cyan;
    }

    .block-body {
    }

    .block-body-inner {
    }
    
}