// Button styling
// ==============

.button, button {
    background-color: @darkGrey;
    color: @white;
    padding: 10px;
    text-decoration: none;
    display:inline-block;
    border: none;
    .transition-all-colors;

    .no-touch & {
        &:hover {
            background-color: darken(@darkGrey, 10%);
            color: @white;
        } 
    }

    &.disabled, &:disabled {
        background-color: @grey!important;
        color: @white!important;
        cursor:default;
    }

}

.buttons {
    margin-top:@button-margin-top;
    margin-bottom:@button-margin-bottom;
    position:relative;

    button {
        width:49.5%;
        float:left;

        &.buttons-action {
            margin-right: 0.5%;
        }

        &.buttons-feedback {
            margin-left: 0.5%;
        }
    }

    .buttons-display {
        position:relative;
        border:@button-border;
        border-top:none;
        background-color:@inverted-background-color;
        color:@inverted-foreground-color;
    }

    .buttons-marking-icon {
        position:absolute;
        left:50%;
        top:50%;
        width:40px;
        height:40px;
        font-size:32px;
        line-height:40px;
        text-align:center;
        border-radius:50%;
        margin-left:-(44px/2);
        margin-top:-(44px/2);
        background-color:@white;
        border: 2px solid;

        &.icon-tick {
            color:@green;
        }

        &.icon-cross {
            color:@red;
        }
    }

    .buttons-display-inner {
        text-align:center;
        padding: 10px;
    }
}