// Component styling
// =================

.component {

    .component-inner {
    }

    .component-title {
    }

    .component-title-inner {
        color: @cyan;
    }

    .component-body {

    }

    .component-body-inner {

    }

    .component-instruction {
    }

    .component-instruction-inner {
        font-weight: 700;
        
        &.validation-error {
            color: @validation-error-text-color;
        }
    }

}