// Drawer styling
// ==============

.drawer {
    background-color: @darkGrey;
    color: @white;

    .drawer-toolbar {
        border-bottom: 1px solid darken(@white, 10%);
    }

    .drawer-toolbar .icon {
        padding: 18px!important; // Override defaults
        color: @white;
        .transition-color;
        
        &:hover {
            color: darken(@white, 20%);
        }
    }

    .drawer-inner {
        border-left: 5px solid lighten(@darkGrey, 20%);
    }

    .drawer-item {

        .drawer-item-open {
            text-decoration: none;
            color: @white;
            border-bottom: 1px solid darken(@white, 20%);
            .transition-all-colors;

            .no-touch &:hover {
                color: @white;
                background-color: darken(@darkGrey, 20%);
            }
        }

        h5 {
            font-size:14px;
        }
    }

    .drawer-item-open {
        padding: 15px 20px;
    }
}