// Font setup
// ==========

// Fonts
// =====

@import url(http://fonts.googleapis.com/css?family=Roboto:300,700);

body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: @black;
}

h1,
.h1 {
	font-size: 48px;
	font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h2,
.h2 {
    font-size: 36px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h3,
.h3 {
    font-size: 36px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h4,
.h4 {
    font-size: 36px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

h5,
.h5 {
    font-size: 14px;
	font-weight: 300;
}

h6,
.h6 {
    font-size: 14px;
	font-weight: 300;
}

select {
    font-size: 14px;
    font-weight: 300;
}

button {
	font-size: 18px;
	font-weight: 300;
    -webkit-font-smoothing: antialiased;

    @media all and (max-width: @device-width-small) {
        font-size: 14px;
    }
}