.nativeMedia-component {

	.transcript-button {
		display: inline-block;
		padding: 15px;
		margin-top: 15px;
		background-color: @cyan;
		color: @white;
		.transition-all-colors;


		.no-touch &:hover {
			background-color: darken(@cyan, 20%);
			color: @white;
		}
	}
}