.page-header {
	background-size: cover;
	background-repeat: no-repeat;

	.page-header-content {
		max-width: @device-width-large;
		margin: auto;
	}

	.page-header-content-inner {
		padding: 80px 0;
	}

	.page-header-title {
        text-align: left;
    }

    .page-header-title-inner {
        padding:10px 0 0;
        color: @white;

        @media all and (max-width: @device-width-large) {
            padding:20px 20px 0;
        }
    }

    .page-header-body {
    }

    .page-header-body-inner {
        padding:10px 0 0;
        color: @white;

        @media all and (max-width: @device-width-large) {
            padding:20px 20px 0;
        }
    }

}