.page-header {
	background-size: cover;
	background-repeat: no-repeat;

	.page-header-content-inner {
		padding: 80px 0;
	}

	.page-header-title {
        text-align: left;
    }

    .page-header-title-inner {
        padding:20px 20px 0;
        color: @white;
    }

    .page-header-body {
    }

    .page-header-body-inner {
        padding:20px 20px 40px;
        color: @white;
    }

}