.shallowBranchingMCQ-component {

    .shallowBranchingMCQ-item {
        background-color: @pink;
        .transition-background-color
    }

    .shallowBranchingMCQ-item label {            
        color: @white;
        border: none;
        background-color: @pink;
        .transition-all-colors;
        
        .shallowBranchingMCQ-answer-icon{
            color: @white;
            .transition-color;
        }

        &.selected {            
            color: @white;
            background-color: darken(@pink, 20%);
            border: none;
            .transition-all-colors;
        }        
    }

    input:focus + label {
        background-color: darken(@pink, 20%);
        color: @white;
        .transition-all-colors;
    }

    .shallowBranchingMCQ-correct-icon {
        color: @white;
        .transition-color;

    }

    .shallowBranchingMCQ-incorrect-icon {
        color: @white;
        .transition-color;
    }

    .shallowBranchingMCQ-widget {

        &.disabled {
            .shallowBranchingMCQ-item label.selected.disabled {
                color: @white;
                background-color: @grey;
                border: none;
                .transition-all-colors;
            }
            .shallowBranchingMCQ-item label.disabled {
                color: @white;
                background-color: @grey;
                border: none;
                .transition-all-colors;
            }

            .shallowBranchingMCQ-item.correct .selected .state {
                color: @icon-correct-color;
                .transition-color;
            }

            .shallowBranchingMCQ-item.incorrect .selected .state {
                color: @icon-incorrect-color;
                .transition-color;
            }
        }
    }
}

.no-touch {

    .shallowBranchingMCQ-widget {
        &:not(.disabled) {
            .shallowBranchingMCQ-item label:hover {
                color: @white;
                background-color: darken(@pink, 20%);
                border: none;
                .transition-all-colors;
            }

            .shallowBranchingMCQ-item label.disabled {
                color: @white;
                background-color: @grey;
                border: none;
                .transition-all-colors;

                &:hover{
                    color: @white;
                    background: @grey;
                    border: none;
                    .transition-all-colors;
                }
            }
        }
    }
}