.tabs-component {

	.tab-item {

		.no-touch &:hover {

			.tab-item-inner {
				background-color: darken(@cyan, 10%);
				color: @white;
			}
		}

		&.selected {

			.tab-item-inner {
				background-color: darken(@cyan, 20%);
				color: @white;
			}
		}

		&.visited {

			.tab-item-inner {
				background-color: darken(@cyan, 20%);
				color: @white;
			}
		}
	}

	.tab-item-inner {
		background-color: @cyan;
		color: @white;
	}

	.tab-item-image {
		border: 2px solid @white;
	}

	.tabs-content-items {
		border: 1px solid darken(@cyan, 20%);
		background: @white;
	}


	/* TAB LAYOUT LEFT */

	&.tab-layout-left {

		.tab-item {

			&.selected {

				&:after {
					border-color: transparent transparent transparent darken(@cyan, 20%);
				}
			}

			&:after {
				border-color: transparent transparent transparent @cyan;
			}
		}	

		@media all and (max-width: @device-width-medium) {

			.tab-item {
				background-color: @cyan;

				.no-touch &:hover {
					background-color: darken(@cyan, 10%);
				}

				&.selected {
					background-color: darken(@cyan, 20%);
				}

				&.visited {
					background-color: darken(@cyan, 20%);
				}
			}
	    }
	}
}