.extension-tutor {

    .tutor {
        left: 0;
        background-color: @darkGrey;
        color: @white;
    }

    .tutor-content {
        max-width: @device-width-large;
        margin: auto;
    }

    .tutor-inner {
        padding: 40px 0 30px;

        @media all and (max-width: @device-width-large) {
            padding: 40px 20px 20px 30px;
        }
    }

    .tutor-done {
        padding: 5px;
        margin: 10px;
        border-radius: 50%;
        border: 2px solid @white;
        position:absolute;
        top: 0px;
        right:0px;
        .transition-border-color;

        .no-touch &:hover {
            border-color: darken(@white, 20%);

            .tutor-icon-close {
                color: darken(@white, 20%);
            }
        }
    }

    .tutor-icon-close {
        color: @white;
        .transition-color;
    }

    .tutor-title {
        margin-bottom: 10px;
        color: @white;
    }

    .tutor-title-inner {
        font-size: 36px;
    }

    .tutor-body-inner {
        color: @white;
    }
}