<div class="tutor" role="region" aria-label="{{_accessibility._ariaLabels.feedbackPopUp}}">
    
    <div class="tutor-content">
        <div class="tutor-inner">
                {{#if feedbackTitle}}
                <div class="tutor-title">
                    <div class="tutor-title-inner h5 accessible-text-block" aria-level="1" tabindex="0" role="heading">
                    {{{feedbackTitle}}}
                    </div>
                </div>
                {{/if}}
            <div class="tutor-body">
                <div class="tutor-body-inner">{{{a11y_text feedbackMessage}}}</div>
            </div>
        </div>
    </div>
    {{! toolbar moved for AA purposes - should be last in tab order}}
    <div class="tutor-toolbar">
        <a href="#" tabindex="0" class="tutor-done"  role="button" aria-label="{{_accessibility._ariaLabels.closePopup}}">
            <span class="tutor-icon-close icon icon-cross"></span>
        </a>
    </div>
</div>

<div class="tutor-shadow"></div>
